<div class="parallax"></div>

<div class="index-content">
	<!-- surveys -->
	<h4 class="survey-title">Surveys</h4>
	<div class="container">
		<div class="card-deck">
		  <div class="card mt-5" ng-repeat="s in surveys" style="min-width: 25%; max-width: 33%">
		    <img style="max-height: 2800px" class="card-img-top" src="{{s.image}}" alt="Card image cap">
		    <div class="card-body" style="position: relative">
		      <h5 class="card-title">{{s.title}}</h5>
		      <p class="card-text">{{s.description}}</p><br><br>
				<button ng-click="checklogin(s.id)" type="button" class="btn btn-primary" style="position: absolute; bottom: 20px; right: 25px">
					<a style="color: white" href="">Participate &raquo;</a>
				</button>
		    </div>
		  </div>
		</div>	
	</div>

	<!-- competitions -->
	<h4 class="competitions-title mt-5">Competitions</h4>
	<div class="container">
		<div class="card-deck">
		  <div class="card mt-5" ng-repeat="c in competitions" style="min-width: 25%; max-width: 33%">
		    <img style="max-height: 280px" class="card-img-top" src="{{c.smallImage}}" alt="Card image cap">
		    <div class="card-body">
		      <h5 class="card-title">{{c.title}}</h5>
		      <p class="card-text">{{c.description}}</p><br><br>
				<button ng-click="checklogin()" type="button" class="btn btn-primary" style="position: absolute; bottom: 20px; right: 25px">
					<a style="color: white" href="">Detail &raquo;</a>
				</button>
		    </div>
		  </div>
		</div>	
	</div>

	<!-- statistics -->
	<div class="statistics">
		<div class="stat-content">
			<h4>Total surveys took place till date: <span style="color: grey">{{std}}</span></h4>
			<h4>Total surveys you have participated: <span style="color: grey">{{hasP}}</span></h4>
		</div>
	</div>
</div>