<div class="competition-parallax"></div>

<div class="index-content">
    <h4 class="competitions-title">Competitions</h4>
    <div class="container">
        <div class="card-deck">
            <div class="card mt-5" ng-repeat="s in competitions" style="min-width: 25%; max-width: 33%">
                <img style="max-height: 280px" class="card-img-top" src="{{s.smallImage}}" alt="Card image cap">
                <div class="card-body" style="position: relative">
                    <h5 class="card-title">{{s.title}}</h5>
                    <p class="card-text">{{s.description}}</p><br><br>
                    <button ng-click="detailS(s.id)" type="button" class="btn btn-primary" style="position: absolute; bottom: 20px; right: 25px">
                        <a style="color: white" href="#">Detail &raquo;</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- paginate -->
        <nav style="margin-bottom: 200px" aria-label="...">
            <ul class="pagination myPaginate mt-5">
                <li ng-class="page==1?'page-item disabled':'page-item'">
                    <a class="page-link" href="#!survey?page={{page-1}}" tabindex="-1">Previous</a>
                </li>
                <li ng-repeat="i in is" ng-class="page==i?'page-item active':'page-item'">
                    <a class="page-link" href="#!survey?page={{i}}">{{i}} <span ng-if="page==1" class="sr-only">(current)</span></a>
                </li>
                <li ng-class="page==totalPage?'page-item disabled':'page-item'">
                    <a class="page-link" href="#!survey?page={{page+1}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>