<div class="survey-parallax"></div>

<div class="row" id="title-header-detail">
    <div class="col-md-12">
        <div class="title-header-detail">
            <h3 style="height: 70px; line-height: 50px" class="pt-2 pb-2 text-white font-weight-normal text-capitalize text-center">environmental survey</h3>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form name="sdform" method="Post">
                <div ng-repeat="q in questions" class="row mb-4">
                    <div class="col-md-12">
                        <div>
                            <div class="title-input pl-3">
                                <pre style="color:#00c2a4">{{$index+1}}. {{q.QuestionText.replace("?","?\n")}}</pre>
                            </div>
                        </div>
                        <div style="background: #fff;" class="box-list col-md-12 p-0">
                            <div class="col-md-12 pt-2 pb-2">
                                <ul class="list-group list-group-flush">
                                    <li style="border: 0" class="list-group-item">
                                        <input class="mr-2" type="radio" name="{{q.SurveyId}}" value="A" required>A
                                    </li>
                                    <li style="border: 0" class="list-group-item">
                                        <input class="mr-2" type="radio" name="{{q.SurveyId}}" value="B">B
                                    </li>
                                    <li style="border: 0" class="list-group-item">
                                        <input class="mr-2" type="radio" name="{{q.SurveyId}}" value="C">C
                                    </li>
                                    <li style="border: 0" class="list-group-item">
                                        <input class="mr-2" type="radio" name="{{q.SurveyId}}" value="D">D
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="text-center">
                            <input ng-click="sbm()" type="submit" name="submit"  class="submit font-weight-bold border rounded text-white mr-3" value="Submit">
                            <input type="reset" name="reset" class="reset bg-danger font-weight-bold border rounded text-white ml-3" value="Reset">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  function sbm() {
    alert(document.querySelector("ul > li > input[checked]").value)
  } 
</script>