<div class="lr-wrap">
    <div class="lr-container">
        <form name="loginform" class="lr-form">
            <h4>Login</h4>
            <div class="col-md-10 offset-1 wrap-inputLr">
                <input ng-model="memberL.username" class="inputLr" type="text" name="username" placeholder="Username" minlength="6" required>
                <span class="focus-inputLr"></span>
                <span class="symbol-inputLr">
                    <span class="lnr lnr-mustache"></span>
                </span>
                <small class="form-text text-danger" ng-if="loginform.username.$error.minlength">(*) Please use at least 6 characters</small>
            </div>

            <div class="col-md-10 offset-1 wrap-inputLr">
                <input ng-model="memberL.password" class="inputLr" type="password" name="password" placeholder="Password" minlength="6" required>
                <span class="focus-inputLr"></span>
                <span class="symbol-inputLr">
                    <span class="lnr lnr-lock"></span>
                </span>
                <small class="form-text text-danger" ng-if="loginform.password.$error.minlength">(*) Please use at least 6 characters</small>
            </div>

            <div class="col-md-10 offset-1 mt-3">
                <label class="label-checkboxRmbm" for="rmbm">Remember me
                    <input ng-click="rmbmeF()" class="input-checkboxRmbm" id="rmbm" type="checkbox" name="remember-me">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="col-md-10 offset-1 lr-btn" style="margin-top: 60px">
                <button ng-click="login()" name="login" type="submit">Login</button>
            </div>
        </form>

        <div class="noobAsk"><p align="center">Don't have an account? <a href="#!register">Sign up</a></p></div>
    </div>
</div>